<p id="notice"><%= notice %></p>

<h1>Posts</h1>

  <div class="row">
    <div class="col-6">
   <%= render 'form', post: @post %>
    </div>
    <div class="col-6">
      
       <h4>Search</h4>
      <%= render 'form_search' %>
    </div>
  </div>
  
<ul id="all-post">
  <%= render @posts%>
</ul>

<br>


